@import 'normalize.css';

html {
  height: 160%;
}

body {
  height: 155%;
}

html, body {
  background-color: #ffaf47;
  overflow-x: hidden;
}

.App-header {
  background-color: #340758;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffaf47;
}

#pic {
  height: 50vh;
  border-radius: 50%; 
  position: absolute;
  top: 10vh;
  left: 40vw;
}

#caption {
  position: absolute;
  top: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  height: 50vh;
}

#caption-title {
  color: #ffaf47;
  font-family: Helvetica;
  position: absolute; 
  font-size: 70px;
  top: -26vh;
  left: -50vw;
  width: 100vw;
}

#caption-subtitle {
  position: absolute; 
  top: -3vh;
  width: 60vw;
  font-size: medium; 
  color: #ffaf47;
  text-align:center;
}


#story, .harmony-discord-headline {
  position: relative;
  width: 100%;
  left: 0;
  background-color: #ffaf47;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#story {
  min-height: 40vh;
}

.story, ul, .harmony-discord-text {
  color: #340758; 
}

p {
  font-size: medium;
  text-align: center;
  font-family: Helvetica;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

ul {
  position: relative;
  left: 20%; 
  width: 55%;
}