html, body {
  height: 165%;
  background-color: #ffaf47;
  overflow-x: hidden;
}

#items {
  background-color: #340758;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffaf47;
}

#story, .harmony-discord-headline {
  position: relative;
  width: 100%;
  left: 0;
  background-color: #ffaf47;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#story {
  min-height: 40vh;
}

#pic {
  height: 50vh;
  border-radius: 50%; 
  position: relative;
  top: 10vh;
  left: 4vh;
}

#caption > p {
  color: #ffaf47;
  font-size: 70px;
  font-family: Helvetica;
  position: relative; 
  top: 4vh;
}

p {
  font-size: medium;
  text-align: center;
  font-family: Helvetica;
}

#caption {
  top: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

ul {
  position: relative;
  left: 20%; 
  width: 55%;
}

.story, ul, .harmony-discord-text {
  color: #340758; 
}